{% extends 'base.html' %}
{% load static %}
{% block title %}Cart{% endblock %}
{% block content %}
<main class="container py-2 cartList" id="cartList">
	<!-- Featured Products -->
	<h3 class="my-4 border-bottom pb-1">Cart({{ cart_data_count }})</h3>
	{% if cart_data %}
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Product</th>
					<th>Qty</th>
					<th>Price</th>
					<!--<th>Total</th>-->
				</tr>
			</thead>
			<tbody>
				{% for item in cart_data %}
					<tr class="product_data">
						<td>
							<img src="/media/{{item.product.image}}" width="50"/>&nbsp;&nbsp;
							<a href="/watches/{{item.product.title}}">{{item.product.title}}</a>
						</td>
						<td>
							<div>
								<input type="hidden" class="product_id" value="{{ item.product_id}}">
								{% csrf_token %}
								<label for="Quantity">Quantity</label>
								<div class="input-group text-center mb-3 quantity" style="width:130px;">
									<button class="input-group-text change_qty decrement-btn">-</button>
									<input type="text" name="qty-input" class="form-control text-center qty-input" value={{ item.product_qty }}>
									<button class="input-group-text change_qty increment-btn">+</button>
								</div>
							</div>
						</td>
						<td>$ {{item.product.price}}</td>
						<!--<td>$ {{ item.product.price }} * {{item.product_qty }}</td>-->
						<td>
							<button class="btn btn-danger delete-cart-item"><i class="fa fa-trash"></i> Remove</button>
						</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="2"></td>
					<th class="text-left">Total: &nbsp;$ {{ total_price }}</th>
					<td>
						<a href="/checkout" class="btn btn-dark btn-sm">Checkout &nbsp;<i class="fa fa-long-arrow-right"></i></a>
					</td>
				</tr>

			</tfoot>
		</table>
	{% else %}
	<div class="text-center py-4">
		<img src={% static 'images/empty-cart.png' %}>
	</div>
	{% endif %}
</main>
{% endblock %}